<!-- Search box
        <form class="templatemo-search-form" role="search">
            <div class="input-group">
                <button type="submit" class="fa fa-search"></button>
                <input type="text" class="form-control" placeholder="Buscar" name="srch-term" id="srch-term">
            </div>
        </form>-->

<br>

<nav class="templatemo-left-nav">
    <ul>
        <li><a href="#" class="active"><i class="fa fa-home fa-fw"></i>Instalación</a></li>
        <li><a href="preferences.html"><i class="fa fa-sliders fa-fw"></i>Preferencias</a></li>
        <li><a href="#"><i class="fa fa-database fa-fw"></i>Configuración B.D.</a></li>
        <li><a href="#"><i class="fa fa-database fa-fw"></i>Modelos</a></li>
    </ul>
</nav>