<div class="templatemo-top-nav-container">
    <div class="row">
        <nav class="templatemo-top-nav col-lg-2 col-md-2">
            <div class="title"><h2><span class="blue-text">{</span><span class="green-text">EASYCUBASOFT</span><span class="blue-text">}</span></h2></div>
        </nav>
        <nav class="templatemo-top-nav col-lg-10 col-md-10">
            <ul class="text-uppercase">
                <li><a href="{{ BASE_URL }}" class="active">General</a></li>
                <li><a href="{{ BASE_URL }}controller">Controladores</a></li>
                <li><a href="{{ BASE_URL }}model">Modelos</a></li>
                <li><a href="{{ BASE_URL }}view">Vistas</a></li>
            </ul>
        </nav>
    </div>
</div>